a {
	color: #fff;
}

html {
	overflow-y: scroll;
}

body,html {
	background: #cc9 url('/images/bg_photos.png') no-repeat fixed center center;
	color: #fff;
	height: 100%;
	font-family: Arial, sans-serif;
	font-size: small;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: small;
	margin: 0;
}

h1 img {
	border: 0;
	display: inline;
	vertical-align: middle;
}

h1 {
	font-family: Georgia, serif;
	font-size: 2em;
	font-style: italic;
	color: #fff;
}

h2 {
	font-weight: bold;
	text-transform: uppercase;
	margin: 1em 0 0 0;
}

h3 {
	font-weight: bold;
	margin: 1em 0 0 0;
}

p {
	margin: 1em 0 0 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th {
	text-align: left;
}

input[type=text], input[type=password], textarea, select {
	font-family: Arial, sans-serif;
	font-size: 1em;
	width: 14em;
}

label {
	display: block;
	float: left;
	width: 12em;
}

fieldset {
	background-color: #777;
	border: 1px solid #fff;
	margin: 0 0 1em 0;
}

fieldset legend input {
	width: 40em;
}

ul {
	list-style-type: square;
	margin: 0 0 0 2em;
	padding: 0;
}
